
/*-----  Text & Alignment -----*/

#myHeader {
  position: fixed;
  top: 0;
  width: 100%;
}

h1 a {

  text-decoration: none;
  color: white; 
  font-family: "Avenir Next";
  font-style: italic;
  font-size: 2rem; 
}

h1 a:hover {
  color: #3D4852;
}

li a {
  margin-right: 1rem;
  text-decoration: none;
  color: white; 
  font-family: "Avenir Next";
  font-style: italic; 
  font-size: 1.25rem;
}

li a:hover {
  color: #3D4852;
}
.font {
  font-family: "Avenir Next";
  font-style: italic; 
}

.quote {  
   flex-wrap: wrap;
   padding: 4rem;
   text-align: center;
   font-family: "Avenir Next";
   font-size: 18px;
   font-weight: bold;
   font-style: italic;
   line-height: 50px;
}


 .content,
 .content a {
  align-items: center;
  color: black;
  font-family: "Avenir Next";
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
 }

.content a:hover {
  color: #6CB2EB;
 }

footer a {
  text-decoration: none;
  color: white; 
  font-family: "Avenir Next";
  font-style: italic; 
  font-size: 1.25rem;
}

footer a:hover {
  color: #3D4852;
}

footer p {
  line-height: 50px;
  text-decoration: none;
  color: white; 
  font-family: "Avenir Next";
  font-style: italic; 
  font-size: 1.25rem;
}

/*-------- Grid --------*/

@media screen and (min-width: 640px) {

.content {
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
 }

.content:nth-child(even) >img {
  order:2;
 }

}